<!DOCTYPE html>
<html ng-app="txtmoko">
  <head>
    <link rel="stylesheet" type="text/css" href="bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="style.css">
  </head>
  <body ng-controller="TxtmokoController as txtmokoCtrl">
  <div class="container">
    <div class="row">
      <div class="col-md-8 col-md-offset-2 "> <section>
	  <h1 class="text-center">TxtMoKo</h1>
	  <form name="txtmokoForm" class="form-horizontal" novalidate
	   ng-submit="txtmokoCtrl.sendMsg()">
	    <div class="form-group">
	      <div class="col-md-12">
	        <input ng-model="txtmokoCtrl.clientNum" ng-pattern="/^\d+$/" ng-minlength="11" ng-maxlength="11" type="text" class="form-control input-lg" id="clientNum" placeholder="09354062426" required>
	      </div>
	    </div>
	    <div class="form-group">
	      <div class="col-md-12">
	        <textarea ng-model="txtmokoCtrl.clientMsg" class="form-control input-lg" placeholder="Message..." required></textarea>
	      </div>
	    </div>
	    <button type="submit" class="btn btn-lg btn-block" ng-class="txtmokoForm.$valid ? 'btn-success' : 'btn-default'" ng-disabled="txtmokoForm.$valid ? false : true">Send</button>
	  </form>
	</section>
	<section>
        <div class="row">
	  <div class="col-md-6">
	  <h5>
	  {{messages_left.result}} Messages left.
	  </h5>
	  </div>

	  <div class="col-md-6">
	  <h5 class="text-right">
	  &nbsp;
          {{messages_left.message}}
          </h5>
          </div>
        </div>
	</section>

        <footer>
         <div class="row">
           <div class="col-md-4">
             <p>&copy; Arc Angelo Ibalio 2015</p>
           </div>
           <div class="col-md-4 col-md-offset-4">
             <p class="text-right"> Powered by <a href="http://www.itexmo.com/" class="btn btn-primary btn-xs" target="_blank">itexmo.com</a></p>
           </div>
         </div>   
        </footer>
      </div>
    </div>  
  </div> <!-- End Content -->

    <script type="text/javascript" src="angular.min.js"></script>
    <script type="text/javascript" src="app.js"></script>
  </body>
</html>
